.container{
    margin-left: 200px;
    width: 85%;
    min-height: 1000px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separator {
    display: flex;
    flex: space-between;
    width: 100%;
    margin: 170px 0 100px 0;
}

.card{
    width: max-width;
    border-radius:50px 50px 0 0;
    background: #F5F5F5;
    opacity: 0.8;
    padding: 30px;
    height: max-content;
}

.team-card{
    width:1006px;
    border-radius:50px 50px 0 0;
    background: #ECEFF7;
    padding: 10px;
    height: max-content;
}
.team-card .title {
    margin: 0;
    width: 1006px;
    height: 37px;
    background: #296687;
    border-radius: 50px 50px 0px 0px;
}

.team-card .title h2 {
    margin-left: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    padding-left:20px;

    /* identical to box height */
    color: #ECEFF7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: underline;
}


.welcome{
    color: #17585C;
}

.analytics img{
    width: 1006px;
    margin-top: 40px;
    margin-bottom:40px;
}

.client-card{
    margin-top: 50px;
    width:1006px;
    border-radius:50px 50px 0 0;
    background: #f5f5f5;
    padding: 10px;
    height: max-content;
}

.client-card .title {
    margin: 0;
    width: 1006px;
    height: 37px;
    background: #17585C;
    border-radius: 50px 50px 0px 0px;
}

.product-card{
    margin-top: 40px;
    width:1006px;
    border-radius:50px 50px 0 0;
    background: #f5f5f5;
    padding: 10px;
    height: max-content;
}

.product-card .title {
    margin: 0;
    padding: 0;
    width: 1006px;
    height: 37px;
    background: #3EB9BE;
    border-radius: 50px 50px 0px 0px;
}

.item-card{
    width: 150px;
    height: max-content;
    padding-bottom: 10px;
    background: #ffffff;
    margin-right: 15px;
}