.product-container {
margin-left: 200px;
width: 85%;
min-height: 1200px; 
padding-bottom: 50px;
background: radial-gradient(100% 197.75% at 0% 22.22%, #296687 0%, #4DE0E5 51.56%, #001C20 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
        , #FFFFFF;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.separator {
    display: flex;
    flex: space-between;
    margin-left: 200px;
    width: 85%;
    min-height: 1000px;
}

.product-info {
    margin-top: -1000px;
    padding-bottom: 20px;
    height: auto;
    opacity: 0.8;
    width: 1086px;
    background: #F5F5F5;
    border-radius: 50px 50px 0px 0px;
}

.product-info .title {
    display: flex;
    align-items: center;
    width: 1086px;
    height: 80px;
    background: #296687;
    border-radius: 50px 50px 0px 0px;
}

.product-info .title h5 {
    align-items: flex-start;
    margin-left: 70px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #ECEFF7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.products{
    padding: 23px;
}

.products p{
    width: 278px;
    height: 19px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #808080;
}
.product-cards-container{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 10px;
    margin: 0;
    width: 95%;
    height:auto;
    /* background: #F5F5F5; */
    border-radius: 50px 50px 0px 0px;
}
.product-cards-container .card{
    margin: 0;
    position: relative;
    padding: 10px;
    width: 200px;
    height: 250px;
    background: #FFFFFF;
    border-radius: 10px;
}
.name-tax{
    margin-top: 15px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
}

.product-cards-container .card button{
    outline: none;
    border: none;
    position: absolute;
    bottom: 20px;
    right: 23px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    color: #50819D;
    width: 60px;
    height: 22px;
    background: #4DE0E5;
}

.product-cards-container .card img{
 width: 180px;
 border-radius: 10px;
}