/* css fpr navbar component */

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px 0 160px;
    margin-top: 0;
    color: #001C20;
}
 .search{
    display: flex;
}

.search input{
    outline: none;
    border: none;
    width: 600px;
    padding: 16px 8px;
    height: 60px;
    background: #F5F5F5;
    opacity: 0.8;
    border-radius: 15px;
}
.search input::placeholder {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    padding-left: 40px;
    color: #17585C;
}
.search .search-wrapper{
    position: relative;
    color: #17585C;
}
.search .search-wrapper .search-icon{
    position: absolute;
    top: 20px;
    right: 42px;
}
.bell-wrapper{
    display: grid;
    margin: 0 30px;
    place-content: center;
    width: 60px;
    height: 60px;
    background: #F5F5F5;
    opacity: 0.8;
    border-radius: 15px;
    cursor: pointer;
}

