
nav {
position: absolute;
margin-top: 0;
width: 15%;
height: 1000px;
background: #001C20;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav ul .dashboard{
    padding-top: 44px;
}
nav ul .dashboard a{
    text-align: center;
    text-decoration: none;
    width: 109px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    color: #F5F5F5;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav ul .nav-list{
    margin-top: 221px;
    padding-left: 16px;
}

nav ul .nav-list a{
    text-decoration: none;
    list-style: none;
    width: 140px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #F5F5F5;
}
nav ul .nav-list a p{
margin-bottom: 64px;
}
.nav-list .home,
 .nav-list .group,
 .nav-list .user,
  .nav-list .shop,
   .nav-list .setting,
    .logout{
    display: flex;
}
.nav-list .home-icon,
 .nav-list .group-icon,
  .nav-list .user-icon,
   .nav-list  .shop-icon,
    .nav-list .setting-icon, .logout-icon{
    margin-right: 10px;
}

 .logout-wrapper a{
     position: absolute;
     bottom: 40px;
     left: 20px;
    text-decoration: none;
    width: 140px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: rgb(183, 46, 46);
}